@import '../../global-styles/variables';

.header {
  &-more {
    position: relative;
    z-index: 5;

    &__icon {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      span {
        display: none;
      }
    }

    &-menu {
      position: absolute;
      top: 120%;
      padding: 0.5rem;
      border-radius: 0.5rem;
      background-color: $blockBgLight;
      color: $blockColorLight;

      &__item {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        span {
          transform: scale(0.7);
        }
      }
    }
  }
}

body.darkMode {
  .header-more-menu {
    background-color: $blockBgDark;
    color: $blockColorDark;
  }
}

@media (max-width: 768px) {
  .header {
    &-more {
      &__icon span {
        display: inline;
      }
      //&-menu {
      //  top: 10%;
      //}
    }
  }
}